:root

	--color-ocean: #0F172A
	--color-island: #1E293B
	--color-text: #8291A6
	--color-text-strong: #D6E2F2
	--color-action: #0EA5E9

	background: var(--color-ocean)
	color: var(--color-text)

.App

	text-align: center
	min-height: 100vh

h1, h2, h3, h4, h5, h6

	color: var(--color-text-strong)

a, a:visited, a:hover, a:active

	color: var(--color-action)
	text-decoration: none
